.contact-button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .contact-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .contact-button:hover {
    background-color: #0056b3;
  }
  
  .contact-box {
    background-color: 0056b3(8, 7, 7);
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contact-box h2 {
    margin-top: 0;
  }
  
  .contact-box p {
    margin: 5px 0;
  }
  